body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
    background-image: url('background-image.jpg'); /* Замени на свой файл */
    background-repeat: repeat;
    background-size: contain;
    font-family: 'Great Vibes', cursive; /* Замени на выбранный шрифт */
}

header {
    background-color: #8b8570;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold; /* Сделает текст жирным */
    font-size: 18px; /* Увеличит размер */
    padding: 5px 10px;
    border-radius: 5px; /* Скругление краев */
    transition: all 0.3s ease;
}

nav ul li a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    background-color: rgba(255, 255, 255, 0.2); /* Легкий фон */
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2E4B40;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Расстояние между кружками */
    justify-content: center;
    max-width: 200px; /* Чтобы ограничить ширину и формировать ряды */
    margin: 0 auto; /* Центрирование */
}

.color {
    width: 40px; /* Размер кружка */
    height: 40px;
    border-radius: 50%;
    flex: 1 1 calc(50% - 10px); /* Делаем два кружка в ряд */
    max-width: 40px;
}

/* На больших экранах кружки будут в один ряд */
@media (min-width: 600px) {
    .colors {
        flex-wrap: nowrap;
        max-width: none;
    }
    .color {
        flex: none;
    }
}

footer {
    background-color: #2E4B40;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
img {
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 10px;
}
